.icone-container {
    background: #9b59b6;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.icone-container i {
    font-size: 32px;
    color: #fff;
}